<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>project1</display-name>
  
  <servlet>
  <servlet-name>login_ok</servlet-name>
  <servlet-class>shop.login_ok</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>login_ok</servlet-name>
  <url-pattern>/shop/login_ok.do</url-pattern>
  </servlet-mapping>
    
  <servlet>
  <servlet-name>join_ok</servlet-name>
  <servlet-class>shop.join_ok</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>join_ok</servlet-name>
  <url-pattern>/shop/join_ok.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>idcheck</servlet-name>
  <servlet-class>shop.idcheck</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>idcheck</servlet-name>
  <url-pattern>/shop/idcheck.do</url-pattern>
  </servlet-mapping>

</web-app>